h1 {
    text-align: center;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-size {
    resize: none;
}